---
import Menu from '../components/menu.astro';
import Navigation from "./navigation.astro";
import ThemeIcon from './ThemeIcon.astro';

---
<header>
    <nav class="navbar">
            <ThemeIcon />
                <Menu />
        <Navigation />
    </nav>
</header>