---
---

<div id="main-menu" class="nav-links">
<a href="/">Home</a>
<a href="/about">About</a>
<a href="/programming">Programming Projects</a>
<a href="/creative">Creative Projects</a>
<a href="/contact">Contact</a>
</div>